*.pyc
db.sqlite3
db.sqlite3-journal
node_modules
pybin/jieba_dict/
pybin/train/output/
pybin/train/input/
pybin/word_cloud/output/
pybin/word_cloud/input/
pybin/fb_fetch/token.txt
pybin/train/-Similarity-index*
pybin/text_transfer/news/
webpack-stats-local.json
.vscode
package-lock.json
.env
pybin/media/db_modify/json/
