*.pyc
db.sqlite3
node_modules
pybin/nlp/dict.txt.big.txt
pybin/nlp/stop_words.txt
pybin/nlp/test.txt
pybin/jieba_dict/
pybin/train/output/
pybin/train/input/
pybin/train/-Similarity-index*
webpack-stats-local.json
.vscode
package-lock.json
