boto==2.49.0
boto3==1.7.73
botocore==1.10.73
bz2file==0.98
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
Django==2.0.3
django-webpack-loader==0.6.0
djangorestframework==3.8.2
docutils==0.14
gensim==3.5.0
get==1.0.3
idna==2.5
jieba==0.39
jmespath==0.9.3
kiwisolver==1.0.1
matplotlib==2.2.2
nltk==3.3
numpy==1.14.3
pandas==0.23.0
Pillow==5.2.0
post==1.0.2
public==1.0.3
pyparsing==2.2.0
python-dateutil==2.7.3
python-dotenv==0.9.1
pytz==2018.3
query-string==1.0.2
request==1.0.2
requests==2.18.4
requests2==2.16.0
s3transfer==0.1.13
scipy==1.1.0
six==1.11.0
smart-open==1.6.0
urllib3==1.21.1
wordcloud==1.4.1
